/cli/target/
/contract/artifacts/
/contract/cache/
/contract/contract-deployment.json
/model/_apalache-out/
/model/states/
node_modules/
/subgraph/build/
/subgraph/node_modules/
/subgraph/tests/.bin/
/subgraph/tests/.latest.json
target/
/graph-subscriptions-rs/Cargo.lock
types/